[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = ">=1.8.2"
xplenty = ">=1.2.0"

[dev-packages]
pytest = "*"
mock = "*"

[requires]
python_version = "3.6"
